
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Vegefoods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="/san-pham" class="nav-link">Sản phẩm</a></li>
                <li class="nav-item"><a href="/ve-chung-toi" class="nav-link">Về chúng tôi</a></li>
                <li class="nav-item"><a href="/tin-tuc" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/lien-he" class="nav-link">Liên hệ</a></li>
                <li class="nav-item"><a href="/tra-cuu-don-hang" class="nav-link">Tra cứu</a></li>
                <li class="nav-item cta cta-colored"><a href="/gio-hang" class="nav-link"><span class="icon-shopping_cart"></span></a></li>
                @Html.Partial("AccountHeader")

            </ul>
        </div>
    </div>
</nav>
