@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/home-page">Trang chủ</a></span> <span class="mr-2"><a href="/san-pham">Sản phẩm</a></span> <span>Chi tiết sản phẩm</span></p>
                <h1 class="mb-0 bread">Chi tiết sản phẩm</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section" style="padding-bottom: 0">
    <div class="container" id="ProductDetail">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <a href="/Content/images/product-1.jpg" class="image-popup"><img v-bind:src="ProductImages" class="img-fluid" alt="Ảnh sản phẩm" style="width: 100%; height: 432px"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5">
                <h3>{{ ProductName }}</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">{{ RateScore }}</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">{{ TotalSold }} <span style="color: #bbb;">Lượt đánh giá</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">{{ TotalSold }} <span style="color: #bbb;">Đã bán</span></a>
                    </p>
                </div>
                <p class="price"><span>VNĐ {{ ProductPrice }}</span></p>
                <p>
                    {{ ProductShortDesc }}
                </p>
                <div class="row mt-4" v-if="ProductAmount > 0">
                    <div class="w-100"></div>
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2" v-on:click="decreaseQty()">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" v-model="QtyOrder">
                        <span class="input-group-btn ml-2" v-on:click="increaseQty()">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                        <span style="line-height: 40px">&nbsp;&nbsp;{{ ProductUnit }}</span>
                    </div>
                    <span class="text-danger">{{ error_qty }}</span>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;">{{ ProductAmount}} {{ ProductUnit }} available</p>
                    </div>
                </div>
                <div class="row mt-4" v-else>
                    Sản phẩm tạm thời hết hàng
                </div>
                <p><a v-on:click="addToCart(ProductID)" class="btn btn-black py-3 px-5" v-if="ProductAmount > 0">Thêm vào giỏ hàng</a></p>
            </div>
            <div class="col-lg-12 mb-5" v-html="ProductLongDesc">
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Sản phẩm</span>
                <h2 class="mb-4">Sản phẩm liên quan</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="/Content/images/product-1.jpg" alt="Colorlib Template">
                        <span class="status">30%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Bell Pepper</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="toast"></div>
@section Scripts {
    <script>
        var productId = @ViewBag.ProductId;
        var userLogin = '@ViewBag.UserLogin';
    </script>
    <script>
        function showSuccessToast(message) {
            toast({
                title: "Thông báo!",
                message: message,
                type: "success",
                duration: 5000
            });
        }
    </script>
    <script src="~/Scripts/Product/ProductDetail.js"></script>
}

