
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .block-27 a:hover {
            background: #82ae46;
            border: 1px solid #82ae46;
            color: #fff;
            cursor: pointer;
        }
    </style>

}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/home-page">Trang chủ</a></span> <span>Blog</span></p>
                <h1 class="mb-0 bread">Blog</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row" id="NewsDetail">
            <div class="col-lg-8">              
                <h2 class="mb-3">{{ NewsTitle }} </h2>
                <div v-html="NewsBody">
                    
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-box">
                    <h3 class="heading">Danh mục</h3>
                    <ul class="categories">
                        <li v-for="item in ListNewsCategory"><a href="/"> {{ item.NewsCateTitle }} <span>({{ item.TotalNews }}) </span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Bài viết gần đây</h3>
                    <div class="block-21 mb-4 d-flex" v-for="recent in ListNewsRecent">
                        <a class="blog-img mr-4"><img v-bind:src="recent.NewsImages" style="width: 100%; height: 100%" alt="Alternate Text" /></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">{{ recent.NewsTitle }}</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> {{ recent.CreateTime }}</a></div>
                                <div><a href="#"><span class="icon-person"></span> {{ recent.CreateBy }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">fruits</a>
                        <a href="#" class="tag-cloud-link">tomatoe</a>
                        <a href="#" class="tag-cloud-link">mango</a>
                        <a href="#" class="tag-cloud-link">apple</a>
                        <a href="#" class="tag-cloud-link">carrots</a>
                        <a href="#" class="tag-cloud-link">orange</a>
                        <a href="#" class="tag-cloud-link">pepper</a>
                        <a href="#" class="tag-cloud-link">eggplant</a>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->

@section Scripts {
    <script>
        var newsId = @ViewBag.NewsId;
    </script>
    <script src="~/Scripts/News/NewsDetail.js"></script>
}
