@using VEGETFOODS
@using VEGETFOODS.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var session = (USER)Session[VEGETFOODS.Common.CommonConstants.USER_SESSION];

}

@section Styles {
    <style>
        .content-wrapper .header-detail {
            flex-direction: column;
        }
    </style>
}

<div class="content-wrapper" id="MyNews">
    <div class="header-detail">
        <a href="/Admin/News/Index" class="link-list"> < Danh sách tin tức</a>
        <span class="name-title mt-8"> Cập nhật tin tức </span>
    </div>
    <div class="content-detail">
        <div class="content-detail-head">
            <a class="btn-tab-info" data-bs-toggle="collapse" data-bs-target="#productTab" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-info-circle" style="border-radius: 4px"></i>&nbsp;&nbsp;&nbsp; Thông tin tin tức
            </a>
        </div>
        <div class="collapse show" id="productTab">
            <div class="card-body">
                <div class="content-item">
                    <label class="content-label">Tiêu đề</label>
                    <input class="content-input" type="text" v-model="NewsTitle" />
                </div>
                <div class="error text-danger"> {{ error_name }}</div>
                <div class="content-item">
                    <label class="content-label">Hình ảnh</label>
                    <input class="content-input" type="text" v-model="NewsImages" />
                </div>
                <div class="content-item">
                    <label class="content-label"></label>
                    <span class="text-main-color pointer-hover" v-on:click="ChooseImage()">Tải ảnh lên... </span>
                </div>
                <div class="content-item">
                    <label class="content-label">Danh mục</label>
                    <select class="content-input content-status" v-model="NewsCateID">
                        <option value="0">--</option>
                        <option v-for="item in ListCategoryActive" :value="item.NewsCateID">{{ item.NewsCateTitle }}</option>
                    </select>
                </div>
                <div class="error text-danger"> {{ error_cate }}</div>
                <div class="content-item">
                    <label class="content-label">Mô tả tóm tắt</label>
                    <textarea class="content-input" type="text" rows="4" v-model="NewsSummary"></textarea>
                </div>
                <div class="content-item">
                    <label class="content-label">Bài viết</label>
                    <textarea class="content-input" id="NewsBody" type="text" rows="8" v-model="NewsBody"></textarea>
                </div>
                <div class="error text-danger"> {{ error_body }}</div>
                <div class="content-item">
                    <label class="content-label">Hashtags</label>
                    <input class="content-input" type="text" v-model="Hashtags" />
                </div>
                <div class="content-item">
                    <label class="content-label">Active</label>
                    <label class="switch">
                        <input type="checkbox" v-model="IsActive">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="btn-update">
                    <button v-on:click="updateNews()" class="btn-main-color">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var newsId = @ViewBag.NewsId;
        var userLogin = '@session.UserCode';
        tinymce.init({
            selector: '#NewsBody',
            width: '100%',
            setup: function (editor) {
                editor.on('Change', function (e) {
                    vmMyNews.NewsBody = tinyMCE.get('NewsBody').getContent();
                });
            },
        })

    </script>
    <script src="~/Scripts/News/MyNews.js"></script>
}