@using VEGETFOODS
@using VEGETFOODS.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <style>
        .content-wrapper .header-detail {
            flex-direction: column;
        }
    </style>
}

<div class="content-wrapper" id="CreateNewsCategory">
    <div class="header-detail">
        <a href="/Admin/NewsCategory/Index" class="link-list"> < Danh sách danh mục tin tức</a>
        <span class="name-title mt-8"> Tạo mới danh mục tin tức </span>
    </div>
    <div class="content-detail">
        <div class="content-detail-head"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp; Thông tin danh mục tin tức</div>
        <div class="content-item">
            <label class="content-label">Tên danh mục</label>
            <input class="content-input" type="text" v-model="NewsCateTitle" />
        </div>
        <div class="error text-danger"> {{ error_name }}</div>
        <div class="content-item">
            <label class="content-label">Mô tả</label>
            <textarea class="content-input" type="text" rows="4" v-model="NewsDesc"></textarea>
        </div>
        <div class="btn-update">
            <button v-on:click="createCategory()" class="btn-main-color">Hoàn thành</button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/NewsCategory/CreateNewsCategory.js"></script>
}

